@import 'tailwindcss';

@theme {
  --breakpoint-xs: 25rem;
}

input {
  outline: none;
  /* border: none; */
}
button {
  cursor: pointer;
}
input:focus,
textarea:focus,
button:focus,
input[type='date']:focus {
  outline: none;
}
